@font-face {
  font-family: Montserrat;
  src: url("./Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("./Montserrat-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url("./Montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("./Montserrat-MediumItalic.ttf");
  font-weight: normal;
  font-style: italic;
}
